.adduser_container {
	padding: 10px;
}
.maina {
	background-color: white;
	padding: 20px;
}

input {
	font: inherit;
	letter-spacing: inherit;
	color: currentColor;
	padding: 4px 0 5px;
	box-sizing: content-box;
	background: none;
	height: 1.4375em;
	border: 1px solid #c4c4c4;
	display: block;
	padding-top: 1px;
	padding: 8.5px 14px;
    outline: none;
    border-radius: 5px;
}