@import "../../../../styles/variables";

.login_main {
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../../../../assets/background.png);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	gap: 20px;
}

.login_header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px;
	gap: 5px;
}

.login_header_text {
	color: white;
	font-size: 22px;
}

.login_form {
	display: flex;
	width: 25em;
	align-self: center;
	flex-direction: column;
	gap: 10px;
}

.login_icon_input {
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 1px solid black;
	background-color: white;
	border-radius: 50px;
	overflow: hidden;
}

.login_icon {
	font-size: 18px;
	padding-left: 15px;
}

.login_input {
	width: 100%;
	outline: none;
	border: none;
	padding: 18px 15px;
}

.submit_button {
	display: block;
	color: white;
	text-align: center;
	font-size: 17px;
	background-color: #1d49a5;
	padding: 18px 15px;
	outline: none;
	border: none;
	cursor: pointer;
}

.error_box {
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	padding-block: 12px;
	padding-inline: 22px;
	background: #fad1d8;
	border: 1px solid #d11529;
}